*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    font-family: system-ui;
    --base-font-size: 16px;
    --default-border-color: #c9d4d8;
    --default-background-color: #f0f2f4;
    --primary-button-color: #1976d2;
    --primary-button-text-color: #fff;
    font-size: var(--base-font-size);
}

body {
    background: var(--default-background-color);
}

h1 {
    font-size: calc(var(--base-font-size) * 2);
}

input,
button {
    font: inherit;
    border-radius: 0.5rem;
    padding: 1rem;
    border: 1px solid var(--default-border-color);
}

label {
    font-weight: 600;
}

button {
    background: var(--primary-button-color);
    color: var(--primary-button-text-color);
    border: none;
    cursor: pointer;

    &:disabled {
        background: var(--default-border-color);
        color: var(--default-text-color);
        cursor: not-allowed;
    }
}

.weather-app {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
    max-width: 70vw;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 2rem;

    & h1 {
        text-align: center;
    }

    & form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background: #fff;
        border: 1px solid var(--default-border-color);
        border-radius: 1rem;
        padding: 2rem;
    }
}

aside {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    padding: 2rem;
}

/* add dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background: #121212;
    }

    aside {
        color: #fff;
    }

    section {
        & h1 {
            color: #fff;
        }

        & form {
            background: #3a3a3a;
            border-color: #242424;

            & input {
                background: #121212;
                color: #fff;
            }

            & label {
                color: #fff;
            }
        }
    }
}
